<h3 class="mb-3">Список задач</h3>
<div class="clearfix">{{ pagination | raw }}</div>
{% for item in tasks %}
	<div class="mb-3 border">
		<p class="p-3">{{ item.text }}</p>
		<div class="text-right">
			<a href="/task/update/{{ item.id }}" class="btn btn-dark btn-sm mr-1 mb-1" tabindex="-1" role="button" aria-disabled="true">Редактировать</a>
		</div>
	</div>
{% endfor %}
<div class="clearfix">{{ pagination | raw }}</div>
<div class="text-center">
	<a href="/task/create" class="btn btn-success" tabindex="-1" role="button" aria-disabled="true">Создать задачу</a>
</div>